    .list {
      background: lightskyblue;
      padding: 10px;
      margin: 10px;
      grid-row-start: 2;
      min-width: 300px;
      border-radius: 10px;
      &__title {
        margin-right: 10px;
        margin-top: 5px;
        padding: 5px;
      }
      &__item {
        padding: 5px 10px;
        background: $color-grey;
        margin: 5px 0;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        p {
          padding: 5px;
        }
      }
    }
