@import 'breakpoints';
@import 'variables';
@import 'list';
body {
  font-family: Arial, Helvetica, sans-serif;
  background: $color-primary;
}

* {
  box-sizing: border-box;
}

.trello {
  width: 100%;
  margin: 0 auto;
  background: $color-primary;
  min-height: 600px;
  display: grid;
  align-items: start;
  position: relative;
  grid-template-columns: 1fr;
  @include breakpoint(midDisplay) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
  }
  &__list-input-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0 10px;
    display: flex;
    flex-direction: column;
    [draggable="true"] {
      cursor: move;
      /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
    }
    [draggable="true"]:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }
  }
  textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    padding: 5px;
  }
  &__list-title {
    width: 300px;
    padding: 5px;
  }
}

button {
  margin: 10px 0;
  background: $color-secondary;
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
}
